##  Q1

In [1]:
def three_integer_arrays(arr1,arr2,arr3):
    p1=p2=p3=0
    
    arr=[]
    
    while (p1<len(arr1) and p2<len(arr2) and p3<len(arr3)):
        if arr1[p1]==arr2[p2]==arr3[p3]:
            arr.append(arr1[p1])
            p1+= 1
            p2+= 1
            p3+= 1
            
        elif arr1[p1]<arr2[p2]:
            p1+=1
        elif arr2[p2]<arr3[p3]:
            p2+=1
        else:
            p3+=1
            
    return arr       

arr1=[1,2,3,4,5]
arr2=[1,2,5,7,9]
arr3=[1,3,4,5,8]
three_integer_arrays(arr1,arr2,arr3)

[1, 5]

## Q2

In [2]:
def disjoints(nums1,nums2):
    
    s1=set(nums1)
    s2=set(nums2)
    
    res1= [num for num in nums1 if num not in s2]
    res2= [num for num in nums2 if num not in s1]
    
    return [res1,res2]

nums1 = [1, 2, 3]
nums2 = [2, 4, 6]

disjoints(nums1,nums2)

[[1, 3], [4, 6]]

## Q3

In [3]:
def transpose(matrix):
    
    rows = len(matrix)
    columns = len(matrix[0])

    transposed = [[0 for _ in range(rows)] for _ in range(columns)]

    for i in range(rows):
        for j in range(columns):
            transposed[j][i] = matrix[i][j]

    return transposed

matrix = [[1,2,3],[4,5,6],[7,8,9]]
transpose(matrix)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

## Q4

In [4]:
def array_pair_sum(nums):
    nums.sort()  
    max_sum = 0

    for i in range(0, len(nums), 2):
        max_sum += nums[i]

    return max_sum

nums = [1, 4, 7, 92]
print(array_pair_sum(nums))

8

## Q5.

In [5]:
def arrange_coins(n):
    k = 0

    while k*(k + 1) // 2 <= n:
        k += 1

    return k - 1
n=int(input())
arrange_coins(n)

5

2

## Q6.

In [11]:
def  sq(nums):
    arr=[num**2 for num in nums]
    arr.sort()
    return arr

arr= [-4,-1,0,3,10]
sq(arr)

[0, 1, 9, 16, 100]

## Q7

In [13]:
def max_count(m, n, ops):
    min_row = m
    min_col = n

    for op in ops:
        min_row = min(min_row, op[0])
        min_col = min(min_col, op[1])

    return min_row * min_col

m = 3
n = 3
ops = [[2, 2], [3, 3]]
print(max_count(m, n, ops))

4

## Q8

In [12]:
def rearrange_array(nums, n):
    result = []
    for i in range(n):
        result.append(nums[i])
        result.append(nums[i + n])
    return result
nums = [2, 5, 1, 3, 4, 7]
n = 3
print(rearrange_array(nums, n))

[2, 3, 5, 4, 1, 7]